* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Source Sans Pro', sans-serif;
}

nav {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}
nav .mainMenu {
  display: flex;
  list-style: none;
}
nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}
nav .openMenu{
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}
nav .mainMenu .closeMenu , .icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}
.logo{
  width: 24.03px;
  height: 32.23px;
  padding-top: 12px;
  padding-left: 100px;
  color: #fff;
  text-transform: uppercase;
  margin-left: 35px;
  font-size: 25px;
  cursor: pointer;
  text-align: center;
}

@media(max-width: 1920px){
  nav .mainMenu {
    height: 11vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction:row;   
    justify-content: center;
    align-items: center;
    background: #F8EA01;
    transition: top 1s ease;
    display: none;
  }
  nav .mainMenu .closeMenu{
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .openMenu {
    display: block;
    margin-right: 50px;
  }
}

#hero {
  height: 320px;

  left: 0px;
  top: 132px;
  border-radius: 0px;
  background: #F5F5F5;  
  max-width: 100%;
}
#hero h1 {
  height: 99px;
  width: 584px;
  padding-top: 59px;
  padding-left: 120px;
  border-radius: nullpx;
  font-family: Source Sans Pro;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
}
.para {
  height: 73px;
  width: 594px;
  padding-top: 59px;
  padding-left: 128px;
  border-radius: nullpx;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.heading h1{
  height: 52px;
  width: 584px;
  border-radius: nullpx;
  font-family: Source Sans Pro;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 107px;
  padding-left: 128px;
}
.container{
  display: flex;
  justify-content: center;
  margin-top: 80px;
  flex-wrap: wrap;
}
.card {
  background: #fff;
  width: 380px;
  height: 500px;
  margin: 10px;
  }
.heading h1{
  width: 584;
  height: 52;
  top: 508;
  left: 130;
  font-family: Source Sans Pro;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  line-height: 45px;
  }

.card-image{
  height: 215px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 380px;
  top: 654px;
  left: 530px;
  border-radius: 3px;

}
.image1 {
  background-image: url('img/pexels-sharon-mccutcheon-1209843.png')
}
.image2 {
  background-image: url('img/pexels-thisisengineering-3861969.png');
}
.image3 {
  background-image: url('img/pexels-cottonbro-3957989.png');
}
.card h2 {
 height: 52px;
 width: 379px;
 left: 931px;
 top: 884px;
 font-family: Source Sans Pro;
 font-size: 30px;
 font-style: normal;
 font-weight: 700;
 line-height: 45px;
 letter-spacing: 0em;
 text-align: left;
}
.card p {
  height: 127px; 
  width: 354px;
  left: 931px;
  top: 950px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.card a {
  height: 40px;
  width: 214px;
  left: 931px;
  top: 1104px;
  border-radius: 3px;
  background-color: #FF63B1;
  color: #000;
  border-style: solid;
  border-radius: 3px;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  text-align: center;
}
.image1 {
  background-image: url('img/pexels-cottonbro-3957989.png');
}
.image2 {
  background-image: url('img/pexels-sharon-mccutcheon-1209843.png');
}
.image3{
  background-image: url('img/pexels-thisisengineering-3861969.png');
}
.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
#newsletter{
  width: 1444px;
  height: 295px;
  top: 1208px;
  left: 2px;
  margin: auto;
  background-color: #F5F5F5;
  text-align: center;
  border-radius: 4px;
  padding: 60px 20px;
}
#newsletter h3{
  font-size: 12px;
  padding-right: 190px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;  
}
#email-input{
  width: 200px;
  text-align: left;
  border-radius: 2px;
  padding: 4px 0px 4px 8px;
}
#join-button{
  height: 30px;
  width: 180px;
  left: 832px;
  top: 1349px;
  border-radius: 3px;
  color: #000;
  background: #F8EA01;
  cursor: pointer;
  font-weight: 600;
  border-radius: 2px;
}
#footer{
  background-color: #000;
  bottom : 0.5px;  
  height: 96px;
  width: 1440px; 
  border-radius: 0px; 
  margin-top : 40px; 
  position:fixed;
  width:100%;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

